doctype html
head
    title Game
body
    div(style='text-align: center')
        div(style='display: inline-block')
            canvas#main_canvas(width=320, height=600)
            div#game_info
                h3.w3-margin-left.w3-margin-right
                    b.w3-text-blue Federation
                    t vs&nbsp;
                    b.w3-text-red Rebels
                div#main_info.w3-card
                    div.w3-pale-blue.w3-leftbar.w3-rightbar.w3-border-black.w3-border
                        h4#side(style='margin: 2px !important') Choose a side!
                        div.w3-row
                            button#fed_chosen.w3-button.w3-blue.w3-half Federation
                            button#reb_chosen.w3-button.w3-red.w3-half Rebels
                    div#level-select-wrapper.w3-pale-blue.w3-leftbar.w3-rightbar.w3-border-indigo.w3-border
                        h4(style='margin: 2px !important') Choose the level
                        select#level-select.w3-select
                            option(value = "" disabled selected) Select the level
                            option(value = "/assets/first.json") First
                            option(value = "/assets/second.json") Second
                    div#game_process(hidden='hidden')
                        table.w3-table.w3-white.w3-border.w3-border-black
                            tr
                                th Side
                                th Score
                            tr.w3-red
                                td RebelsA
                                td#reb_score 0
                            tr.w3-blue
                                td Federation
                                td#fed_score 0
                        table.w3-table.w3-white.w3-border.w3-border-black
                            tr
                                th Side
                                th Energy
                                th Max energy
                            tr.w3-red
                                td Rebels
                                td#reb_energy 0
                                td#reb_max_energy 0
                            tr.w3-blue
                                td Federation
                                td#fed_energy 0
                                td#fed_max_energy 0

                        label Choose an object to place
                        select.w3-select#object_select
                            option(value="" disabled selected) Select an object
                            option(value="turret") Turret (75)
                            option(value="tank_1") Tank 1 (30)
                            option(value="tank_2") Tank 2 (30)
                            option(value="tank_3") Tank 3 (30)
                            option(value="tank_4") Tank 4 (30)
                            option(value='radar') Radar (100)
                    div#scores_info
                        table#scores_table.w3-table.w3-white.w3-border.w3-border-black
                            tr
                                th Name
                                th Score