doctype html
head
    title Game
    link(rel='stylesheet', href='/lib/w3css-v3/w3.css')
    link(rel='stylesheet', href='/styles/style.css')
body
    canvas#main_canvas

script(src='game/MapManager.js')
script(src='game/index.js')
